body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
a {
    color: #2e4e14;
    text-decoration: none;
    font-size: 13px;
}

a:hover {
    color: #80cb43;
}

h1 {
    color: #2e4e14;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#header_bar {
    height: 25px;
    background-color: #000;
    width: 100%;
    margin: 0;
    padding: 5px;
}
#wrapper {
    margin: 0 auto;
    width: 1100px;
    background-color: #e0edd5;
}

#header {
    float: left;
    border-top: none;
    width: 1100px;
    background-color: #749e51;
}

#top_menu {
    height: 35px;
}

#top_menu ul{
    margin: 0;
    padding: 0;
}

#top_menu ul li{
    margin: 0px 10px;
    float: left;
    list-style: none;
}

#top_menu ul li a{
    text-decoration: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: white;
    padding: 10px;
    display: block;
}

#top_menu ul li a:hover {
    background: rgba(255,255,255,0.5);
}

#content {
    width: 1060px;
    min-height: 250px;
    float: left;
    padding: 0 20px;
}
#footer {
    text-align: right;
    font-size: 13px;
    background-color: #cbd9c0;
    padding: 10px;
    float: left;
    width: 1080px;
}

#footer img {
    float: left;
}

.table {
    margin: 5px;
    border: 1px solid black;
    font-size: 12px;
}

.table td {
    padding: 2px 5px; 
    min-width: 120px;
    text-align: center;
}

.table td a, .table td a img {
    text-decoration: none;
    border: none;
    padding: 2px;
}

.table tbody tr th {
    background-color: #749e51;
    color: white;
    font-weight: bold;
    padding: 5px 8px ;
}

.table tbody tr.odd {
    background-color: #d7ebc6;
}
.table tbody tr.even {
    background-color: #c4d5b6;
}

#top_menu ul li a.logout {
    background: url(../img/logout.png) no-repeat right 7px;
    padding-right: 25px;
    height: 20px;
    font-size: 12px;
}


form#user div.form_row{
    display: block;
    float: left;
    width: 800px;
    margin: 10px;
}
form#user div.form_row label span {
    font-size: 13px;
    color: #2e4e14;
    width: 200px;
    letter-spacing: 0.1em;
    display: block;
    float: left;
}

form#user div.form_row label input {
    font-size: 12px;
    width: 200px;
    float: left;
    border: 1px solid #2e4e14;
    padding: 2px;
}

form#user div.form_row ul {
    float: left;
    width: 250px;
    color: red;
    margin: 0px;
    padding: 0;
}
form#user div.form_row ul li {
    float: left;
    padding: 0px 5px;
    list-style: none;
    font-size: 12px;
}

input.button {
    border: 1px solid #2e4e14;
    color: #2e4e14;
    font-weight: bold;
    padding: 5px;
    background-color: #c4d5b6;
}


input.button:hover {
    border: 1px solid black;
    color: black;
}

ul.messages ,ul.messages li{
    margin: 5px;
    padding: 0px;
    color: red;
    list-style: none;
}