<div>
    <?php
    $title = 'Felhasználó törlése';
    $this->headTitle($title);
    ?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

    <p>Biztos törölni akarod <?php echo $this->escapeHtml($user->name); ?>-t</p>
    <?php
    $url = $this->url('user', array(
        'action' => 'delete',
        'id' => $this->id,
            ));
    ?>
    <form action="<?php echo $url; ?>" method="post">
        <div>
            <input type="hidden" name="id" value="<?php echo (int) $user->id; ?>" />
            <input type="submit" name="del" value="Yes" />
            <input type="submit" name="del" value="No" />
        </div>
    </form>

</div>
