<div>
    <?php
    $title = 'Felhasználó szerkesztése';
    $this->headTitle($title);
    ?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

    <?php
    $form = $this->form;
    $form->setAttribute('action', $this->url('user', array('action' => 'edit', 'id' => $this->id,)));
    $form->setAttribute('method', "post");
    $form->prepare();
    echo $this->form()->openTag($form);
    echo $this->formHidden($form->get('id'));
    ?>
    <div class="form_row">
        <?php echo $this->formRow($form->get('name')); ?>
    </div>

    <div class="form_row">
        <?php echo $this->formRow($form->get('email')); ?>
    </div>

    <div class="form_row">
        <?php echo $this->formRow($form->get('username')); ?>
    </div>

    <div class="form_row">
        <?php echo $this->formRow($form->get('password')); ?>
    </div>

    <div class="form_row">
        <label><span>Jogkör</span></label>
        <?php echo $this->formRow($form->get('role')); ?>
    </div>
    <div class="form_row">
        <label><span>&nbsp;</span></label>
        <?php echo $this->formSubmit($form->get('submit')); ?>
    </div>

    <?php
    echo $this->form()->closeTag();
    ?>
</div>
