<div>
    <?php
    $title = 'Felhasználók';
    $this->headTitle($title);
    ?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>
    <p>
        <a href="<?php echo $this->url('user', array('action' => 'add')); ?>"><img src="<?php echo $this->basePath();?>/img/plus.png" alt="" />Felhasználó hozzáadása</a>
    </p>

    <table class="table" cellpadding="0" cellspacing="0">
        <tr>
            <th>Felhasználónév</th>
            <th>E-mail</th>
            <th>Teljes név</th>
            <th>&nbsp;</th>
        </tr>
        <?php
        $i = 0;
        foreach ($users as $user) {
            ?>
            <tr class="<?php echo $i++ % 2 == 0 ? "odd" : "even"; ?>">
                <td><?php echo $this->escapeHtml($user->username); ?></td>
                <td><?php echo $this->escapeHtml($user->email); ?></td>
                <td><?php echo $this->escapeHtml($user->name); ?></td>
                <td>
                    <a href="<?php echo $this->url('user', array('action' => 'edit', 'id' => $user->id)); ?>">
                        <img src="<?php echo $this->basePath();?>/img/edit_icon.png" alt="Szerkeszt" />
                    </a>
                    <a href="<?php echo $this->url('user', array('action' => 'delete', 'id' => $user->id)); ?>">
                        <img src="<?php echo $this->basePath(); ?>/img/del_icon.png" alt="Törlés" />
                    </a>
                </td>
            </tr>
        <?php } ?>
    </table>

</div>
